<launch>
    <!-- <node name='enable_usb' type='enable_serial.sh' pkg='rover_4_core'/> -->
    <node name='serial_node' type='serial_node.py' pkg='rosserial_python'>
        <param name='port' value='/dev/ttyACM0'/>
        <param name='baud' value='57600'/>    
    </node>
    <node name='odom_node' type='odom_tf.py' pkg='rover_4_core'/>
</launch>