<launch>
    <!-- Rosserial node for communicating with tivac node over usb serial-->
    <node name='serial_node' type='serial_node.py' pkg='rosserial_python'>
        <param name='port' value='/dev/ttyACM0'/>
        <param name='baud' value='115200'/>    
    </node>
    <!-- Odometry topic and tf publisher-->
    <node name='odom_node' type='odom_tf.py' pkg='rover_4_core'/>
    <!-- camera launcher -->
    <include file="$(find astra_camera)/launch/astrapro.launch"/>
    <!-- produce a laserscan from the depth image-->
    <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
        <param name="scan_height" value="10"/>
        <remap from="image" to="/camera/depth/image_raw"/>
        <remap from="camera_info" to="/camera/depth/camera_info"/>
    </node>
    <!-- generate tfs from urdf -->
    <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find rover_4_core)/description/urdf/rover.urdf'" />
    <param name="robot_description" command="$(arg urdf_file)" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>