<launch>
    <!-- Rosserial node for communicating with tivac node over usb serial-->
    <node name='serial_node' type='serial_node.py' pkg='rosserial_python'>
        <param name='port' value='/dev/ttyACM0'/>
        <param name='baud' value='115200'/>    
    </node>
    <!-- Odometry topic and tf publisher-->
    <node name='odom_node' type='odom_tf.py' pkg='rover_4_core'/>
    
    <!-- generate tfs from urdf -->
    <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find rover_4_core)/description/urdf/rover.urdf'" />
    <param name="robot_description" command="$(arg urdf_file)" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <!-- LDS-01 lidar -->
    <arg name="set_frame_id" default="scan_link"/>

    <node pkg="hls_lfcd_lds_driver" type="hlds_laser_publisher" name="rover4_lds" output="screen">
        <param name="port" value="/dev/ttyUSB0"/>
        <param name="frame_id" value="$(arg set_frame_id)"/>
    </node>

</launch>
