<launch>

<!-- camera launcher -->
<include file="$(find astra_camera)/launch/astrapro.launch"/>

<!-- produce a laserscan from the depth image-->
<node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
    <param name="scan_height" value="10"/>
    <remap from="image" to="/camera/depth/image_raw"/>
    <remap from="camera_info" to="/camera/depth/camera_info"/>
    <remap from="scan" to="depth_scan"/>
</node>

<!-- Launch slam for localization in map frame -->
<include file="$(find rover_4_core)/launch/slam.launch"/>

<!-- Laser scan assembler to convert lidar depth scans to point clouds -->
<node type="laser_scan_assembler" pkg="laser_assembler" name="my_assembler" output="log">
  <param name="max_scans" type="int" value="1000" />
  <param name="fixed_frame" type="string" value="map" />
</node>

<!-- Node to publish new point cloud -->
<node type ="laser2pc.py" pkg="rover_4_core" name="laser2pc"/>

<!-- Node to track fused lidar/cv point clouds -->
<node type ="lidar_cv_fusion.py" pkg="rover_4_core" name="lidar_cv_fusion" output="screen"/>
</launch>

